.container {
    max-width: 400px;
    margin: 60px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  h1{
      text-align: center;
  }
  label{
      font-weight: bold;
      font-family: Arial, sans-serif;
  }
  .form-control{
      margin-bottom: 5px;
  }
  .btn-primary{
      font-weight: bold;
      width:100%;
      background-color: purple;
      border:none;
      color:#fff;
  
  }
  